
@using TeamLeasing.Models
@model TeamLeasing.ViewModels.Developer.EditDeveloperProfileViewModel

@section scripts{
    <script src="~/lib/jquery-validation/src/core.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="~/script/switch-registration.js"></script>
    <script src="~/script/validation-bootstrap.js"></script>
    <script src="~/script/university-field.js"></script>
}
@{
    ViewData["Title"] = "Edycja profilu";
}
<div id="content-contact">
    <div id="login" class="account">
        <h2>Edycja konta</h2>

        <form class="form-horizontal" method="post" asp-action="Edit" asp-controller="AccountDeveloper" enctype="multipart/form-data">


            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="Phone" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Phone" class="form-control" id="exampleInputPassword1" placeholder="Telefon">
                </div>
                <span asp-validation-for="Phone" class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="City" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input type="text" asp-for="City" class="form-control" id="exampleInputPassword1" placeholder="Miasto">
                </div>
                <span asp-validation-for="City" class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="Province" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Province" type="text" class="form-control" id="exampleInputPassword1" placeholder="Województwo">
                </div>
                <span asp-validation-for="Province" class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="Experience" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Experience" type="number" class="form-control" id="exampleInputPassword1" placeholder="Doświadczenie">

                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="Technologies" class="col-sm-2"></label>
                <div class="col-md-10">
                    <select asp-for="ChoosenTechnology" asp-items="@Model.Technologies" class="form-control" id="exampleInputPassword1"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="Levels" class="col-sm-2"></label>
                <div class="col-md-10">
                    <select asp-for="ChoosenLevel" asp-items="@Model.Levels" class="form-control" id="exampleInputPassword1"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="IsFinishedUnivesity" class="col-sm-2"></label>
                <div class="col-md-10">
                                                                                                        
                    <select asp-for="ChoosenIsFinishedUnivesity" asp-items="@Model.IsFinishedUnivesity" class="form-control" id="select-menu"></select>
                </div>
            </div>
            <div class="form-group" id="university-box" style="display: none">
                <label for="exampleInputPassword1" asp-for="University" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="University" type="text" class="form-control" id="exampleInputPassword1" placeholder="Szkoła wyższa">

                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" asp-for="About" class="col-sm-2"> </label>
                <div class="col-sm-10">
                    <textarea class="form-control" asp-for="About" rows="5" id="comment"></textarea>

                </div>
                <span asp-validation-for="About" class="help-block"></span>

            </div>
          

            <button type="submit" class="btn btn-default">Zapisz zmiany</button>
        </form>

        <h4>Cv</h4>
        <form class="form-horizontal" method="post" asp-action="UploadCV" asp-controller="AccountDeveloper" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputFile" class="col-sm-2">Aktualne Cv</label>
                <div class="col-sm-10">
                    @if (string.IsNullOrEmpty(Model.Cv))
                    {
                        <label class="col-sm-2">Brak pliku</label>
                    }
                    else
                    {
                        <a href="@Url.Content(Model.Cv)"> Pobierz cv </a>

                    }
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputFile" class="col-sm-2">Wgraj CV</label>
                <div class="col-sm-10">
                    <input asp-for="CvFile" type="file" id="exampleInputFile">
                </div>
                <span asp-validation-for="CvFile" class="help-block"></span>
            </div>
            <button type="submit" class="btn btn-default">Wgraj CV</button>
        </form>

        <h4>Zdjęcie</h4>
        <form class="form-horizontal" method="post" asp-action="UploadPhoto" asp-controller="AccountDeveloper" enctype="multipart/form-data" style="border-bottom: groove">
            <div class="form-group">
                <label for="exampleInputFile" class="col-sm-2">Aktualne zdjęcie</label>
                <div class="col-sm-10">
                   
                        <a href="@Url.Content(Model.Photo)" style="display: block">
                            <img src=@Url.Content(Model.Photo) width="200" height="200" alt="">
                        </a>

                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputFile" class="col-sm-2">Nowe zdjęcie</label>
                <div class="col-sm-10">
                    <input asp-for="PhotoFile" type="file" id="exampleInputFile">
                </div>
                <span asp-validation-for="PhotoFile" class="help-block"></span>
            </div>
            <button type="submit" class="btn btn-default">Wgraj zdjęcie</button>
            <a class="btn btn-default" asp-controller="AccountDeveloper" asp-action="DeletePhoto" >Usuń zdjęcie</a>

        </form>
    </div>
</div>




