@using TeamLeasing.Services.AppConfigurationService.CheckAccesToActionService
@inject ICheckAccesToActionService CheckAccesToActionService
@model List<TeamLeasing.ViewModels.Developer.RecivedOfferViewModel>
<div id="application">
    <h2>Przychodzące ofert</h2>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.LabelFor(s => s.First().Company)</th>
                <th>@Html.LabelFor(s => s.First().ConstSalary)</th>
                <th>@Html.LabelFor(s => s.First().Technology)</th>
                <th>@Html.LabelFor(s => s.First().Level)</th>
                <th>@Html.LabelFor(s => s.First().EmploymentType)</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </thead>

        @foreach (var item in Model)
            {
            <tr>

                <td>@item.Company</td>
                @if (item.ConstSalary != null)
                {
                    <td>@item.ConstSalary</td>
                }
                else
                {
                    <td>
                        @Html.LabelFor(l => item.MinSalary) @item.MinSalary <br />
                        @Html.LabelFor(l => item.MaxSalary) @item.MaxSalary
                    </td>
                }


                <td>@item.Technology</td>
                <td>@item.Level</td>
                <td>@item.EmploymentType</td>
                <td>@item.StatusForDeveloper</td>
                <td>
                    <form asp-controller="AccountDeveloper" asp-action="RejectOffer" asp-route-offerId="@item.OfferId">
                        <button class="btn btn-danger" @if (!CheckAccesToActionService.RejectOfferByDeveloper(item.StatusForDeveloper))
                                                       {
                                                           <text> disabled class="btn" </text>
                                                       }>Odrzuć</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="AccountDeveloper" asp-action="AcceptOffer" asp-route-offerId="@item.OfferId">
                        <button class="btn btn-success"  @if (!CheckAccesToActionService.AcceptOfferByDeveloper(item.StatusForDeveloper, item.NegotiationViewModel != null?item.NegotiationViewModel.StatusForDeveloper : null))
                        {
                                                             <text> disabled class="btn" </text>
                                                         }>Zaakceptuj</button>
                    </form>
                </td>
                <td>
                   
                        <button class="btn btn-info" @if (!CheckAccesToActionService.NegotiateOfferByDeveloper(item.StatusForDeveloper, item.NegotiationViewModel != null ? item.NegotiationViewModel.StatusForDeveloper : null))
                                                     {
                                                         <text> disabled class="btn" </text>
                                                     } asp-controller="Negotation" asp-action="Negotiate" asp-route-offerId="@item.OfferId">Negocjuj</button>
             
                   
                </td>
         

            </tr>
            if (!string.IsNullOrEmpty(item.AdditionalInformation))
            {
                <tr>
                    <td>
                      
                    </td>
                    <td colspan="7">
                        @item.AdditionalInformation
                    </td>
                </tr>
              
            }
        }

    </table>
</div>