@model List<TeamLeasing.ViewModels.Project.SearchProject.ProjectViewModel>
@section scripts{
    @*<script src="~/script/switch-banner.js"></script>*@
    
    <script>
        $(document).ready(function () {
            $('.ji').find('*').each(function() {
                $(this).css('background-color', 'whitesmoke');

            });

 
        });
    </script>
}

@Html.Partial("_Banner")
<div id="content">
    <div id="sidebar">
        @await Component.InvokeAsync("SearchProject")
    </div>
    <div id="container">
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <div id="job-item" class="ji">
                        <h2 id="title"><a asp-controller="SearchProject" asp-action="Project" asp-route-projectId="@item.Id">@item.Title</a> </h2>
                        <h2 id="price">@item.Budget zł</h2>
                      
                            <div>
                            @Html.Raw((item.Descritpion))
                            </div>
                    
                        <p class="lead">
                            @item.Company
                        </p>
                        <p class="small">
                            @item.City, @item.Province
                        </p>
                    </div>
                </tr>

            }
        </table>
    </div>
</div>
