@model List<TeamLeasing.ViewModels.Job.SearchJob.JobViewModel>
@section scripts{
    @*<script src="~/script/switch-banner.js"></script>*@
}

@Html.Partial("_Banner")
<div id="content">
    <div id="sidebar">
        @await Component.InvokeAsync("SearchJob")
    </div>
    <div id="container">
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <div id="job-item">
                        <h2 id="title"><a asp-controller="SearchJob" asp-action="Job" asp-route-jobId="@item.Id">@item.Title</a> </h2>
                        <h2 id="price">@item.Price zł</h2>
                        <p>
                            @item.Descritpion
                        </p>
                        <p class="lead">
                            @item.Company
                        </p>
                        <p class="small">
                            @item.City, @item.Province
                        </p>
                    </div>
                </tr>

            }
        </table>
    </div>
</div>
