@using TeamLeasing.Infrastructure.Extension
@using TeamLeasing.Services.AppConfigurationService
@using TeamLeasing.Services.AppConfigurationService.CheckAccesToActionService
@using TeamLeasing.ViewModels
@inject IConfigurationService ConfigurationService
@inject ICheckAccesToActionService CheckAccesToActionService
@model List<TeamLeasing.ViewModels.Employee.SentOfferViewModel>

 
<div id="application">
    <h2>Wysłane propozycje</h2>
    <table class="table">
        <thead>
        <tr>
            <th>@Html.LabelFor(s => s.First().Name)  @Html.LabelFor(s => s.First().Surname)</th>
            <th>@Html.LabelFor(s => s.First().ConstSalary)</th>
            <th>@Html.LabelFor(s => s.First().EmploymentType)</th>

            <th>@Html.LabelFor(s => s.First().Technology)</th>
            <th>@Html.LabelFor(s => s.First().Level)</th>
            <th>@Html.LabelFor(l=>l.First().StatusForEmployee)</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>

                <td><a asp-action="Profile" asp-controller="SearchDeveloper" asp-route-developerId="@item.DeveloperUserId">@item.Name @item.Surname</a>  </td>

                @if (item.ConstSalary != null)
                {
                    <td>@item.ConstSalary</td>
                }
                else
                {
                    <td>
                        @Html.LabelFor(l => item.MinSalary) @item.MinSalary <br />
                        @Html.LabelFor(l => item.MaxSalary) @item.MaxSalary
                    </td>
                }

                <td>@item.EmploymentType</td>
                <td>@item.Technology</td>
                <td>@item.Level</td>
                <td>@item.StatusForEmployee</td>
                <td>
                    <form asp-controller="AccountEmployee" asp-action="CanceldOffer" asp-route-offerId="@item.OfferId">
                        <button class="btn btn-danger" @if (!CheckAccesToActionService.ResignOfferByEmployee(item.StatusForEmployee))
                                                       {
                                                           <text> disabled class="btn" </text>
                                                       }>Wycofaj</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="AccountEmployee" asp-action="AcceptOffer" asp-route-offerId="@item.OfferId">
                        <button class="btn btn-success"  @if (!CheckAccesToActionService.AcceptOfferByEmployee(item.StatusForEmployee, item.NegotiationViewModel!=null?item.NegotiationViewModel.StatusForEmployee:null))
                        {
                                                         <text> disabled class="btn" </text>
                                                         }>Zaakceptuj</button>
                    </form>
                </td>
                <td><button class="btn btn-info"  @if (!CheckAccesToActionService.NegotiateOfferByEmployee(item.StatusForEmployee, item.NegotiationViewModel != null ? item.NegotiationViewModel.StatusForEmployee : null))
                {
                                                      <text> disabled class="btn" </text>
                                                  } asp-controller="AccountEmployee" asp-action="Negotiate" asp-route-offerId="@item.OfferId">Negocjuj</button></td>
             </tr>

          
            if (!string.IsNullOrEmpty(item.AdditionalInformation))
            {
                <tr>
                    <td>
                      @Html.LabelFor(i=>item.AdditionalInformation)
                    </td>
                    <td colspan="7">
                        @item.AdditionalInformation
                    </td>
                </tr>
              
            }

            if (item.NegotiationViewModel!=null)
            {
                <tr>
                    <td>
                        @Html.LabelFor(l=>item.NegotiationViewModel)
                    </td>
                    <td>
                        @item.NegotiationViewModel.Salary
                    </td>
                    <td>
                        @item.NegotiationViewModel.EmploymentType
                    </td>
                    <td colspan="2">
                        @item.NegotiationViewModel.AdditionalInformation
                    </td>
                    <td>
                        @item.NegotiationViewModel.StatusForEmployee
                    </td>
                </tr>
            }
        }

    </table>
</div>
 